.wrapper{
  height: 100vh;
  width: 100vw;
}
/* ヘッダーに関して */
.header{
  height:150px;
}

#header-main{
  height: 100%;
  display: flex; 
  justify-content: space-between;

}

.header-title{
  padding-top: 40px;
  font-size: 60px;
  text-align: center;
  width: calc(100% - 150px);
  background-color: chartreuse;
  background-image: image-url("angel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.header-btns{
  height: 100%;
  width: 150px;
  padding: 10px 0;
  background-color: red;
  background-image: image-url("menu-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}


#log-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.log-btn{
  display: block;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
}

.log-btn:hover{
  background-color: gold;
}

/* メイン（商品一覧） */
#main{
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background-image: image-url("table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-showings{
  height: 100%;
  overflow: scroll;

}

.show-boxs{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

#pic:hover{
  border-width: 1px;
  border-color: gold;
  cursor: pointer;
}

.show-box{
  width: 300px;
  height: 300px;
  margin: 20px;
}

.boxs{
  background-color:white;
}



#food-title{
text-align: center;
padding-top: 20px;
font-size: 40px;
width: 300px;
height: 100px;
background-color: white;
overflow: scroll;
}

#food-user-name{
  padding-right: 10px;
  text-align: right; 
  font-size: 20px;
}

#food-user-name:hover{
  color: blueviolet;
}
