

#user-show-main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: darkgreen;
  background-image: image-url("ingredients.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#user-show-nickname{
  font-size: 30px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
}

#user-show-food-name{
  text-align: center;
  font-size: 35px;
  padding: 10px;
  border-width: 4px;
  border-style: double;
  border-color: black;
}

#user-show-foods{
  height: 300px;
  width: 300px;
}

#user-show-image:hover{
  border: 1px solid gold
}